.container__data__about-me
{
    display: inline-block;
    margin: 10px 0px;
}
.about-me
{
    flex: 0.7;
    justify-items: right;
    margin-top: 60px;
}
.item__about-me
{
    display: inline;
}
.about-me-tag
{
    font-weight:bolder;
}
.container-page
{
    flex: 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
@media only screen and (max-width: 600px){
    .container__data__about-me
    {
        flex-direction: column;
    }
}