.header
{
    background-color: #f6007c;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    box-shadow: 2px 5px 2px rgba(255, 255, 255, 0.1);
    border-bottom: 4px;
    border-style: groove;
    border-color: #f6007c;
}
.container__name 
{
    display: flex;
    justify-content: space-around;
    
}
.container__information
{
    display: flex;
}
.header__post-content
{
    color: azure;
    
}
.header__name
{
    font-family: 'Lobster', cursive;
    font-size: larger;
    
}
.container__name-div
{
    width: 15rem;
}
.container__information-div, .container__information
{
    height: 100%;
}
.container__header__link
{
    margin: 0px 2px;
}
.header__button
{
    padding: 0px 10px;
    border: 2px solid #f6007c;
    border-radius: 5px;
    height: 100%;
    line-height: 2.3;
    box-sizing: border-box;
    text-align: center;
}

.header__button:hover
{
    border-color: azure;
    color: rgba(240, 255, 255, 0.7)
}
.about-me-tag
{
    font-weight: bolder;
}

@media only screen and (max-width: 600px){
    .header__name
    {
        font-size: xx-large;
    }
    .header
    {
        height: auto;
        justify-content: space-evenly;
    }
    .container__information, .header
    {
        flex-direction: column;
        /*display: none;*/
    }
    .container__information-div
    {
        width: 100%;
    }
    .header__button
    {
        width: 100%;
        margin: 2px 0px;
        border: 2px double #bd005e;
    }
}