header
{
    display: flex;
    height: 50px;
}
canvas
{
    position: absolute;
}
body
{
    background: url('../img/Background.png');
    background-size: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #fffcf1;
}
main
{
    padding: 100px 0px 0px 0px;
}
ul li a
{
    
    color: #fffcf1;
    font-size: x-large;
    text-align: center;
}
ul li a:hover
{
    text-decoration: none;
}
ul
{
    display: flex;
    margin: auto;
}
li
{
    display: block;
    margin: 10px auto;
}
big
{
    font-size:xx-large;
}
.box-style
{
    background: linear-gradient(to top, #a06389, #cb7ca2 100%);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.5);
}
.links-nav
{
    flex: 2;
}
.pc-symbol
{
    display: block;
    margin: auto;
    width: 100px;
    
}
.header-center
{
    background-color: #fffcf1;
    border-radius: 100%;
    padding: 5px;
    margin: auto;
}
.header-center:hover
{
    cursor:pointer;


}
.about
{
    width: 450px;
    
}
.div-content
{
    display: block;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #cb7ca2;

}
.attach
{
    width: 80%;
}
.section-attach
{
    display: flex;
}
.project
{
    background:linear-gradient(to top,#a0638900 ,#a06389 100%);
    border-radius: 30px;
    width: 350px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
}
.project-image
{
    display: block;
    width: 300px;
    border-radius: 5%;
    margin: 10px auto;
}
.project-tittle,.project-description
{
    text-align: center;
}
.project-tittle
{
    font-size:x-large;
}