header
{
    display: flex;
    
    background: linear-gradient(to top, #a06389, #cb7ca2 100%);
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.5);
}
canvas
{
    position: absolute;
}
body
{
    background-color: #684971;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #fffcf1;
}
main
{
    padding: 100px 0px 0px 0px;
}
ul li a
{
    color: #fffcf1;
    font-size: x-large;
    text-align: center;
}
ul
{
    display: flex;
    margin: auto;
}
li
{
    display: block;
    margin: 10px auto;
}
.links-nav
{
    flex: 2;
}
.pc-symbol
{
    display: block;
    margin: auto;
    width: 100px;
    
}
.header-center
{
    background-color: #ffecb2;
    border-radius: 100%;
    padding: 5px;
    margin: auto;
}
.header-center:hover
{
    cursor:pointer;


}
.about
{
    width: 450px;
}
.div-content
{
    display: block;
    margin: 10px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #cb7ca2;

}
.attach
{
    width: 80%;
}
/*
body
{
    margin: 0px;
}
.abilities-module
{
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.abilities-module > img
{
    padding: 10px;
    width: 100px;
    transition: 0.1s ease-in-out all;
}
.abilities-module > img:hover
{
    filter: drop-shadow(5px 5px 0 pink);
    transform: scale(1.1);
}
.title-module
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding:  5px 0px 5px 0px;
    width: 300px;
    border-radius: 0px 10px 0px 10px;
    display: block;
    
    text-align: center;
    background-color:cornflowerblue;
    color: white;
    transition: border-radius 0.3s;
    background: url(https://1.bp.blogspot.com/-cNFdtozkuwY/U1CdTgblmVI/AAAAAAAABKM/yyGv2dHIrXE/s1600/GIF_SkyClear.gif);
}
.title-module:hover
{
    cursor: pointer;
    border-radius: 50px;
}
.text-module
{
    font-size:large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*/