.container__projects
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container__project
{
    display: inline-block;
    margin: 5px;
}

.link__project
{
    transition: color 0.1s;
    position: relative;
    height: 225px;
    width: 300px;
    display: inline-block;
}
.title__project
{
    position: absolute;
    width: 300px;
    height: 20px;
    box-sizing: border-box;
    text-align: center;
    
}
.container__title,.container__description
{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    transform: scaleY(0);
    transition: transform 0.1s;
}
.container__title
{
    
    
    height: 20px;
    top: 0px;
    border-radius: 10px 10px 0px 0px;
    transform-origin: top;
}
.container__description
{
    bottom:0px;
    height: 40px;
    border-radius: 0px 0px 10px 10px;
    transform-origin: bottom;
    
}
.image__project,.container__title,.container__description
{
    box-sizing: border-box;
    width: 100%;
}

.image__project
{
    border-radius: 10px;
    transition: box-shadow 0.2s;
}

.desciption__project
{

    width: 300px;
    height: 40px;
    box-sizing: border-box;
}



@media only screen and (max-width: 816px){
    .image__project
    {
        width: 100%
    }
    .container__title
    {
        position: relative;
        width: 100%;
    }
}
.container__project:has(.link__project:hover) .image__project
{
cursor:pointer;
    border: 1px solid #f6007c;
    box-shadow: 0 0 25px #f6007c;
}


.container__project:has(.link__project:hover) .container__title,
.container__project:has(.link__project:hover) .container__description
{
    
    transform: scaleY(1);
    
}
.container__project:has(.link__project:hover) .selection__bar
{
    visibility:visible;
}
.selection__bar
{  
        visibility: hidden;
        overflow: hidden;
        height: 225px;
        width: 100%;
        border-radius: 10px;
        position: absolute;
        top: 0;
}
.selection__bar span
{
    
    border-radius: 10px;
    position: absolute;
    display: block;
}
.selection__bar span:nth-child(1)
{
    top: 0;
    background: linear-gradient(90deg, transparent 1%, #f6007c);
    width: 100%;
    height: 3px;
    animation: animacion__barra 1s linear infinite;
}
@keyframes animacion__barra
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
.selection__bar span:nth-child(2)
{
    right: 0;

    background: linear-gradient(180deg, transparent 1%, #f6007c);
    height: 100%;
    width: 3px;
    animation: animacion__barra__right 1s linear infinite;
    animation-delay: 1.5s;
}
@keyframes animacion__barra__right
{
    0%
    {
        transform: translateY(-100%);
    }
    100%
    {
        transform: translateY(100%);
    }
}
.selection__bar span:nth-child(3)
{

    background: linear-gradient(90deg,#f6007c ,transparent );
    width: 100%;
    height: 3px;
    animation: animacion__barra__bottom 1s linear infinite;
    bottom: 0;
}
@keyframes animacion__barra__bottom
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
.selection__bar span:nth-child(4)
{
    left: 0;
    background: linear-gradient(180deg, #f6007c ,transparent );
    height: 100%;
    width: 3px;
    animation: animacion__barra__left 1s linear infinite;
    animation-delay: 1.5s;
}
@keyframes animacion__barra__left
{
    0%
    {
        transform: translateY(100%);
    }
    100%
    {
        transform: translateY(-100%);
    }
}