<div class="header">
    <div class="container__name-div">
        <ul class="container__name ">
            <li class="header__name header__post-content">Yammi</li>
        </ul>
    </div>
    <div class="container__information-div">
        <ul class="container__information">
            <li class="container__header__link"><a href="./portafolio/" class="header__link header__post-content">
                    <div class="header__button">sobre mi</div>
                </a></li>
            <li class="container__header__link"><a href="./portafolio/projects.html" class="header__link header__post-content">
                    <div class="header__button">proyectos</div>
                </a></li>
            <li class="container__header__link"><a href="./portafolio/contact.html" class="header__link header__post-content">
                    <div class="header__button">contacto</div>
                </a></li>
        </ul>
    </div>
</div>
