<%- contentFor('top') %>
<link rel="stylesheet" href="css/about-me.css">
<%- contentFor('main') %>
<div class="about-me">
    <div class="container__main">
        <div class="container__main__title">
            <h1 class="main__title">informacion</h1> 
            <hr class="main__split">
        </div>
        <ul>
            <div class="container__data__about-me">
                <li class="item__about-me about-me-tag">nombre: </li>
                <li class="item__about-me about-me-description">&nbsp;Yammi</li>
            </div>
            <div class="container__data__about-me">
                <li class="item__about-me about-me-tag">edad:</li>
                <li class="item__about-me about-me-description">&nbsp;19 a単os</li>
            </div>
            <div class="container__data__about-me">
                <li class="item__about-me about-me-tag">a単os de experiencia: </li>
                <li class="item__about-me about-me-description">&nbsp;2 a単os</li>
            </div>
            <div class="container__data__about-me">
                <li class="item__about-me about-me-tag">aficiones: </li>
                <li class="item__about-me about-me-description">&nbsp;programacion competitiva, investigar
                    sobretecnologia y
                    jugar lol son mi pasion. ^.^</tr>
            </div>
            <li class="item__about-me about-me__description">
                hola, soy yammi y actualmente soy estudiante de un tecnologo en desarrollo de software
                con 2 semestres finalizados<br>
                ademas de estudiante de alura.<br>
                he estudiado programacion durante 4 a単os, pero hasta hace poco comenze a tomarmelo enserio y
                comenze a investigar sobre el desarrollo web.<br>
                actualmente estoy en proceso de volverme programadora fullstack.
            </li>
    </div>
    </ul>
</div>
</div>