body
{
    background-color: rgba(22,22,25,1);

}
a
{
    text-decoration: none;
}
.post__content
{
    color: white;
}
a:-webkit-any-link 
{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


