<div class="container__project">
    <h3 class="title__project"><%= project.title%></h3>
    <a href= <%= project.imageHerf%> class="link__project">
        <img src= <%= project.image%> alt=<%= project.imageAlt%> class="image__project">
    </a>
</div>